name: Deploy on push
on: [push]

permissions:
  contents: read

env:
  DEPLOY_FROM: github
  DEPLOY_REPOSITORY_URL: ${{ github.repositoryUrl }}
  CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
  CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}

jobs:
  deploy-prod:
    runs-on: ubuntu-22.04
    env:
      DEPLOY_SHA: ${{ github.sha }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ env.DEPLOY_SHA }}
      - name: Deploy to prod
        run: ./deploy.sh
        env:
          CF_CUSTOM_DOMAIN: analytics.donecast.com
          CF_SCRIPT_NAME: op3-donecast
          CF_BACKEND_DO_NAMESPACE: ${{ secrets.CF_BACKEND_DO_NAMESPACE }}
          CF_BACKEND_SQL_DO_NAMESPACE: ${{ secrets.CF_BACKEND_SQL_DO_NAMESPACE }}
          INSTANCE: prod
          ADMIN_TOKENS: ${{ secrets.ADMIN_TOKENS || 'optional' }}
          PREVIEW_TOKENS: ${{ secrets.PREVIEW_TOKENS || 'optional' }}

